body{
    background-color: black;
    cursor: url('/Kickweb_Jennifer/Sprint_3/Images/Cursor_green.png'), auto;
}

a{
    text-decoration: none;
    
}

h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 140px;
    font-weight: 200;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}

h2{
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding-right: 3%;
    margin-top: 8%;
    margin-bottom: 2%;
    color: white;

}

h3{
    font-family: 'Epilogue', sans-serif;
    padding-left: 2%;
    font-size: 30px;
    font-weight: 300;
    color: white

}

.header-menu{
    display: flex;
    justify-content: flex-start;
}

.header-menu2{
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: flex;
    justify-content: center;
}

.under-menu{
    display: flex;
    justify-content: center;
    height: 30%;

}

.menu span {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .menu span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: #ffffff;
  }
  
  .menu span:before {
    left: -2.5px;
  }
  .menu span:after {
    right: 2.5px;
    background: #ffffff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .menu span:hover:before {
    background: #ffffff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .menu span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }