body{
    background-color: black;
}

a{
    text-decoration: none;
    
}

h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 140px;
    font-weight: 200;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}

h2{
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding-right: 3%;
    margin-top: 8%;
    margin-bottom: 2%;
    color: white;

}

h3{
    font-family: 'Epilogue', sans-serif;
    padding-left: 2%;
    font-size: 30px;
    font-weight: 300;
    color: white

}

.header-menu{
    display: flex;
    justify-content: flex-start;
}

.header-menu2{
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: flex;
    justify-content: center;
}

.under-menu{
    display: flex;
    justify-content: center;
    height: 30%;

}